include navbar_mixins

doctype
html( lang="en" )
    head
        title OUC Cloud Tracking
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Baking Bootstrap Snippets with Jade' )
    body
        .container
        nav.navbar.navbar-expand-lg.navbar-dark.bg-primary( role="navigation" )
            img(src="images/cloud.png", alt="Cloud image", height="35px", width="50px")
            a.navbar-brand(href="/") OUC Cloud Tracking
            button.navbar-toggler(
                type = "button"
                data-toggle="collapse"
                data-target="#navbarColor01"
                aria-controls="navbarColor01" 
                aria-expanded="false" 
                aria-label="Toggle navigation")
                span.navbar-toggler-icon
            #navbarColor01.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link( href="/") Home
                    li.nav-item
                        a.nav-link( href="/archive" ) Archive
                    li.nav-item
                        a.nav-link( href ="/livestream") Livestream
